.main.backend-main {
  padding: 10px 20px;
  width: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #2a004a 60%, coral 115%);
}

.backend-nav {
  width: 150px;
  background: linear-gradient(to bottom, #03004a 60%, blueviolet 115%);
}

.backend-nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}

.backend-nav-link {
  text-decoration: none !important;
  text-align: center;
}

.backend-nav-link {
  width: 95%;
  padding: 7px 0;
  margin: 25px 0 0 5px;
  border-radius: 0px 5px 50px 10px;
  border: 1px solid magenta;
  background: transparent;
  color: magenta;
  text-shadow:
  magenta 0px 0px 40px,
  magenta 0px 0px 30px,
  magenta 0px 0px 20px,
  magenta 0px 0px 10px;
  box-shadow: 0px 0px 5px 2px magenta inset,
  0px 0px 5px 2px magenta;
  transition: all .3s;
}

.backend-nav-link:hover,
.backend-nav-link:focus {
  background: magenta;
  color: #2a004a;
  transition: all .3s;
}

.backend-nav ul {
  padding-left: 0;
  width: 100%;
}

.selected-nav {
  background: magenta;
  color: #2a004a;
}

.spacer {
  flex-grow: 1;
}

.logout-button {
  width: 140px;
  margin: 0 5px 10px 5px;
  height: 40px;
  background: transparent;
  color: #fff;
  border: 2px dotted #fff;
  border-radius: 5px;
  transition: all .5s;
  position: relative;
}

.logout-button:hover {
  background: #000;
  transition: all .5s;
}

.logout-icon {
  font-size: 22px;
  position: absolute;
  top: 9px;
  left: 25px;
}
