#date-and-time {
  /* --border-radius: 5px;
  --border-colour-date: #007bff;
  --background-colour: #e2e9ef;
  --border-colour-time: #6c757d;
  --website-background-colour: #fff; */

  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#date {
  border: 1px solid var(--border-colour-date);
}

#time {
  border: 1px solid var(--border-colour-time);
}

#date, #time {
  border-radius: calc(var(--border-radius) + 1px);
}

#date, #time, .ui-datepicker {
  width: 100%;
  height: 100%;
}

/* Groups */
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-month,
.ui-datepicker-year {
  cursor: pointer;
}

.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
  display: inline-block;
  font-size: 30px;
  transform: scaleX(1.5);
}

.ui-datepicker-year,
.ui-datepicker-month {
  border-radius: var(--border-radius);
  border-color: var(--border-colour-date);
}

.ui-datepicker {
  border-radius: var(--border-radius);
  background: var(--background-colour);
  display: flex !important;
  flex-direction: column;
}

/* Elements */
.ui-datepicker-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--border-colour-date);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--website-background-colour);
}

.ui-datepicker-calendar {
  background: var(--background-colour);
  border-bottom: 1px solid var(--border-colour-date);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid gray; /* ! Don't delete this */
}

.ui-datepicker-calendar tbody {
  flex-grow: 1;
}

.ui-datepicker-buttonpane {
  background: var(--website-background-colour);
  display: flex;
  justify-content: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 5px 0;
}

/* Components */
.ui-datepicker-current {
  border: 1px solid var(--border-colour-date);
  border-radius: var(--border-radius);
  background: var(--website-background-colour);
  transition: all .3s;
}

.ui-datepicker-current:hover,
.ui-datepicker-current:focus {
  color: var(--website-background-colour);
  background: var(--border-colour-date);
  transition: all .3s;
}

.ui-datepicker-prev {
  order: 1;
}

.ui-datepicker-title {
  order: 2;
}

.ui-datepicker-next {
  order: 3;
}

.ui-datepicker-month {
  margin-right: 10px;
}

.ui-datepicker-year {
  margin-left: 10px;
}

.ui-datepicker th,
.ui-datepicker td {
  width: calc(100% / 7);
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-datepicker td a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.ui-datepicker td a:hover,
.ui-datepicker td a:focus {
  box-shadow: 0px 0px 0px 2px teal inset;
  transition: all .1s;
}

.ui-datepicker th {
  border-bottom: 1px solid gray;
}

.ui-datepicker thead tr,
.ui-datepicker tbody tr {
  display: flex;
  justify-content: space-between;
}

.ui-datepicker tbody {
  display: flex;
  flex-direction: column;
}

.ui-datepicker tbody tr {
  flex-grow: 1;
}

.ui-state-highlight {
  border: 2px solid orange;
}

.ui-state-active {
  background: var(--website-background-colour);
}

.ui-datepicker-prev.ui-state-disabled,
.ui-datepicker-next.ui-state-disabled {
  color: rgb(100, 0, 200);
  cursor: not-allowed;
}

.ui-datepicker-unselectable.ui-state-disabled {
  background: #a6adb4;
}

h2.h4 {
  padding-left: 5px;
}

#time {
  display: flex;
}

#time-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#times {
  padding: 10px;
  flex-grow: 1;
}

.times {
  cursor: pointer;
  max-width: 68px;
  display: inline-block !important;
  padding-left: 5px;
  padding-right: 5px;
  margin: 8px !important;
}

.times input {
  margin-left: 5px;
}

.legend {
  margin-top: 1rem;
}

.square {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.square-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.square-container span {
  margin-left: 10px;
}

.selected-day {
  border: 1px solid gray;
  background: white;
}

.open-days {
  border: 1px solid gray;
  background: #e2e9ef;
}

.today {
  border: 2px solid orange;
  background-image: repeating-linear-gradient(-45deg, #e2e9ef 0px, #e2e9ef 5px, white 5px, white 10px);
}