.personal-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.left-half {
  width: 50%;
}

.right-half {
  width: 50%;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.invalid-input {
  border: 1px solid red !important;
  background: #efe0e0 !important;
}