main > .container {
  padding: 70px 15px 20px;
}

.footer {
  background-color: #f5f5f5;
  font-size: .9em;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  content: '';
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
  .nav li > form > button.logout {
    display:block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.capitalize {
  text-transform: capitalize;
}

.not-visible {
  visibility: hidden;
}

.form-control:read-only {
  background-color: #fff !important;
}

input[type="text"] {
  padding-left: 0.75rem !important;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column !important;
  }

  .container > .mr-3 {
    margin-right: 0 !important;
  }
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.main.backend-main {
  padding: 10px 20px;
  width: calc(100% - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(135deg, salmon, blueviolet);
}

table {
  background: #fff;
}

select {
  padding: 1px 2px !important;
}

.backend-login {
  max-width: 350px;
}

.backend-nav {
  width: 150px;
  background: linear-gradient(#2a004a, #03004a);
}

.backend-nav-link,
.backend-nav-link li {
  text-decoration: none !important;
  color: #898cb0;
}

.backend-nav-link li:hover {
  color: #fff;
}

.backend-nav-link li {
  padding-top: 10px;
}

.backend-nav ul {
  padding-left: 1rem;
}

.backend-nav > ul > a > .selected-nav {
  text-decoration: underline !important;
  color: #fff;
}

.pagination > li {
  border: 1px solid #dee2e6;
  margin-left: -1px;
}

.pagination > li > a,
.pagination > li > span {
  padding: 2px 10px;
}

.prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.action-icon {
  font-size: 30px;
}

.language-switcher {
  display: flex;
  flex-direction: row;
}

.language {
  padding: 5px 10px;
  background: #fff;
  margin-right: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  background: #d8cde3;
}

.active-language {
  background: #fdfbff;
  box-shadow: none;
}

.grid-container {
  border: 1px solid #dee2e6;
  background: #fdfbff;
  border-radius: 5px;
  padding: .5rem 0;
  border-top-left-radius: 0;
  margin-top: -1px;
}

.grid {
  display: grid;
}

.grid-container input {
  border: 1px solid gray;
  border-radius: 5px;
}

.last-input-element {
  margin-bottom: 0 !important;
}

.grid-booking-layout {
  grid-template-columns: 1fr 1fr 1fr 1fr 150px;
}

.grid-holiday-layout {
  grid-template-columns: 1fr 1fr 150px;
}

.grid-role-layout {
  grid-template-columns: 1fr 1fr 114px 1fr 150px;
}

.grid-edit-booking-layout {
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.grid-edit-booking-layout textarea {
  display: block;
}

.grid-edit-booking-layout .description {
  grid-column: span 3;
}

.grid-margins {
  margin: 5px 0 5px 10px;
}

.grid-margins-top {
  margin: 5px 0 0 0;
}

.grid-data-padding {
  padding: 10px 0 10px 10px;
}

.gaps {
  column-gap: 5px;
  row-gap: 5px;
}

.search-field {
  background: #fff;
}

.search-icon {
  font-size: 1.6rem;
  line-height: 1px;
}

.search-link {
  padding-left: 5px;
  padding-right: 5px;
}

.field-title {
  border-bottom: 3px solid lightgray;
}

.even {
  background: #fff;
}

.odd {
  background: #ececec;
}

.create-link-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  padding-right: 5px;
  border-top: 3px solid lightgray;
  border-radius: 0;
}

.top-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.top-row a i {
  font-size: 2.5rem;
  line-height: 38px;
  margin-left: 10px;
  margin-right: 10px;
}

.top-row a {
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

.input-label {
  border: 1px solid #ced4da;
  border-radius: 5px;
  background: #e2e9ef;
  color: #495057;
  display: flex;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.input-label span {
  width: 110px;
  padding-left: 6px;
  margin-right: 6px;
}

.input-checkbox {
  display: block;
  width: fit-content;
}

.input-checkbox input {
  margin-right: 5px;
}

.checkbox-row {
  display: flex;
}

.input-label input,
.input-label > select {
  border: none;
  flex-grow: 1;
}

.input-label select {
  border: none;
  border-radius: 4px;
}

.input-label textarea {
  flex-grow: 1;
  border: none;
  border-radius: 4px;
}

.break {
  margin: 10px;
  padding: 10px;
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 10px;
}

input[type="text"] {
  padding-left: revert !important;
}

.sub-input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  background: #e2e9ef;
  margin-right: 5px;
}

.sub-input > input[type="text"] {
  min-width: 400px;
}

.sub-input > input[type="number"] {
  max-width: 65px;
}

.working-hours,
.role-treatments {
  background: #fff;
  border-radius: 5px;
  flex-grow: 1;
  padding-left: .5rem;
  padding-top: .5rem;
}

.treatments {
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
}

.treatments > label {
  margin: .5rem 0 .5rem .5rem;
}

.treatment-delete-button {
  width: 28px;
  height: 28px;
  background: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.treatment-delete-button > i {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.treatment-delete-button:hover {
  background: #c9302c;
  border-color: #c9302c;
}

.create-treatment {
  border: 1px solid #337ab7;
  border-radius: 5px;
  background: #337ab7;
  color: #fff;
  display: flex;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.create-treatment:hover {
  border-color: #286090;
  background: #286090;
}

.time-checkbox {
  padding-right: 5px;
}

.delete-form-icon {
  border: none;
  background: none;
  color: #007bff;
}

.delete-form {
  display: inline;
}

.delete-form-icon:hover {
  color: #0056b3;
}

.create-button {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.btn-create {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

.btn-create:hover {
  color: gray;
  background-color: lightblue;
  border-color: lightblue;
}