.working-hours,
.role-treatments {
  background: #fff;
  border-radius: 5px;
  flex-grow: 1;
  padding-left: .5rem;
  padding-top: .5rem;
}

.treatment-delete-button {
  width: 28px;
  height: 28px;
  background: #d9534f !important;
  border-color: #d9534f !important;
  color: #fff;
}

.treatment-delete-button > i {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.treatment-delete-button:hover,
.treatment-delete-button:focus {
  background: #c9302c !important;
  border-color: #c9302c !important;
}

.create-treatment {
  border: 1px solid #337ab7;
  border-radius: 5px;
  background: #337ab7;
  color: #fff;
  display: flex;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.create-treatment:hover,
.create-treatment:focus {
  border-color: #286090;
  background: #286090;
}

.working-hours {
  padding-top: 1.1rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
}

.working-hours .capitalize {
  border-radius: 5px;
  border: 1px solid #e2e9ef;
  margin-bottom: 20px;
  padding-left: .5rem;
  padding-right: .5rem;
  width: max-content;
  position: relative;
}

.working-hours .capitalize:last-child {
  margin-bottom: 0;
}

.working-hours .capitalize > span {
  position: absolute;
  border: 1px solid #e2e9ef;
  background: #fff;
  width: max-content;
  border-radius: 5px;
  padding-right: 6px;
  top: -10px;
}
